* {
  box-sizing: border-box;
}

html, body {
  background: var(--c-bg);
  color: var(--c-text);
  font-size: $fontSize;
  font-family: 'Inter', sans-serif;
}

a {
  color: var(--c-brand);

  &.header-anchor {
    display: none;
  }
}

h1, h2, h3, h4 {
  color: var(--c-heading);
  font-weight: 700;
  border-bottom: 0 none;
}

p, ul, ol, td, th {
  line-height: 1.7;
}

h1 {
  font-size: 3rem;
  position: relative;
  
  &:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: -1.5rem;
    right: -1.5rem;
    height: 1px;
    background: var(--c-border);
  }
}

.theme-default-content {
  &:not(.custom) {
    padding: 2rem 1.5rem;

    > h1:first-child {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 2rem;
    }
    > h2,
    > h3 {
      position: relative;
      margin-top: -3rem;
      padding-top: 6rem;

      &:after {
        content: ' ';
        position: absolute;
        top: 4rem;
        left: -1.5rem;
        right: -1.5rem;
        height: 1px;
        background: var(--c-border);
      }
    }

    > h1 + h2 {
      &:after {
        display: none;
      }
    }

    > *:not(h1):not(h2):not(h3) {
      z-index: 1;
      position: relative;
    }
  }

  @media (min-width: ($MQNarrow + 1px)) {
    .row {
      display: flex;
      align-items: flex-start;
      gap: 4rem;
    
      .column {
        overflow: hidden;
      }

      .column {
        &:first-child {
          width: 60%
        }

        &:last-child {
          width: 40%;
          position: sticky;
          top: $navbarHeight;
        }
      }
    }
  }
}

@require './components';
