$sidebarMultiplier = 21
// layout
$navbarHeight ?= 4.5rem
$sidebarWidth ?= $sidebarMultiplier * 1rem
$mobileSidebarWidth = $sidebarWidth * 0.82
$contentWidth ?= 100%
$fontSize ?= 14px

// responsive breakpoints
$MQNarrow ?= 1140px
$MQMobile ?= 719px
$MQMobileNarrow ?= 419px

// code
$lineNumbersWrapperWidth ?= 3.5rem
$codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile

$ds-fills-gray-100 ?= #101828;
$ds-fills-gray-80 ?= #50545E;
$ds-fills-gray-60 ?= #838791;
$ds-fills-gray-40 ?= #BEC0C5;
$ds-fills-gray-10 ?= #D9DADD;
$ds-fills-gray-05 ?= #EAEAEB;
$ds-fills-gray-0 ?= #F2F2F3;
$ds-fills-white ?= #FFFFFF;

$ds-fills-primary-100 ?= #0F43EF;
$ds-fills-primary-50 ?= #3F68F2;
$ds-fills-primary-20 ?= #577BF3;
$ds-fills-primary-10 ?= #BDCDFF;
$ds-fills-primary-05 ?= #D6E0FF;
$ds-fills-primary-0 ?= #EEF3FF;

$ds-fills-success-100 ?= #489F53;
$ds-fills-success-50 ?= #71D9CC;
$ds-fills-success-05 ?= #D1F6D6;

$ds-fills-warning-100 ?= #A64F21;
$ds-fills-warning-50 ?= #E86825;
$ds-fills-warning-05 ?= #FFE1BE;

$ds-fills-alert-100 ?= #9F1B1F;
$ds-fills-alert-50 ?= #DE1C22;
$ds-fills-alert-05 ?= #FFD6D7;

:root {
  // ds-fills
  --ds-fills-gray-100: $ds-fills-gray-100;
  --ds-fills-gray-80: $ds-fills-gray-80;
  --ds-fills-gray-60: $ds-fills-gray-60;
  --ds-fills-gray-40: $ds-fills-gray-40;
  --ds-fills-gray-10: $ds-fills-gray-10;
  --ds-fills-gray-05: $ds-fills-gray-05;
  --ds-fills-gray-0: $ds-fills-gray-0;
  --ds-fills-white: $ds-fills-white;

  --ds-fills-primary-100: $ds-fills-primary-100;
  --ds-fills-primary-50: $ds-fills-primary-50;
  --ds-fills-primary-20: $ds-fills-primary-20;
  --ds-fills-primary-10: $ds-fills-primary-10;
  --ds-fills-primary-05: $ds-fills-primary-05;
  --ds-fills-primary-0: $ds-fills-primary-0;

  --ds-fills-success-100: $ds-fills-success-100;
  --ds-fills-success-50: $ds-fills-success-50;
  --ds-fills-success-05: $ds-fills-success-05;

  --ds-fills-warning-100: $ds-fills-warning-100;
  --ds-fills-warning-50: $ds-fills-warning-50;
  --ds-fills-warning-05: $ds-fills-warning-05;

  --ds-fills-alert-100: $ds-fills-alert-100;
  --ds-fills-alert-50: $ds-fills-alert-50;
  --ds-fills-alert-05: $ds-fills-alert-05;

  // brand colors
  --c-brand: #C1121F;
  --c-brand-light: var(--ds-fills-primary-0);

  // background colors
  --c-bg: var(--ds-fills-white);
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: #FCFCFE;
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: var(--ds-fills-gray-100);
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #999999;

  // heading colors
  --c-heading: var(--ds-fills-gray-100);
  
  // border colors
  --c-border: var(--ds-fills-gray-05);
  --c-border-dark: #dfe2e5;

  // custom container colors
  --c-tip: #42b983;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: var(--c-bg-lighter);

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  --code-bg-color: #383F4D;
  --code-hl-bg-color: #353a45;
  --code-ln-bg-color: #2a3141;
  --code-ln-color: var(--ds-fills-gray-40);
  --code-ln-wrapper-width: 3.5rem;
  --code-color: var(--ds-fills-gray-60);
  --code-border: var(--c-border);
  --code-nav-bg: var(--ds-fills-gray-80);
  --code-title-color: var(--ds-fills-white);

  --inline-code-color: var(--c-text);
  --inline-code-bg: rgba(27, 31, 35, 0.1)

  // font vars
  --font-family: 'Inter', sans-serif;
  --font-family-code: 'Overpass Mono', monospace;

  // layout vars
  --navbar-height: 4rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 18.5rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 1110px;
  --homepage-width: 960px;

  --c-sidebar-header-0: var(--ds-fills-gray-80);

  // table 
  --c-table-head-text: var(--ds-fills-gray-100);
  --c-table-head-bg: var(--ds-fills-gray-05);
  --c-table-odd-text: var(--ds-fills-gray-60);
  --c-table-odd-bg: rgba($ds-fills-gray-0, 0.25);
  --c-table-even-text: var(--ds-fills-gray-60);
  --c-table-even-bg: var(--ds-fills-gray-0);

  --c-table-2nd-row: rgba($ds-fills-gray-0, 0.5);
  --c-table-border: var(--ds-fills-gray-0);

  // endpoints-table
  --endpoints-header-bg: var(--ds-fills-gray-80);
  --endpoints-header-text-color: var(--ds-fills-white);
  --endpoints-cell-bg: var(--ds-fills-white);
  --endpoints-cell-text-color: var(--ds-fills-gray-100);

  // logo
  --logo-text: #0A101A;
  --logo-sign: var(--c-brand);

  // breadcrumbs
  --c-breadcrumbs: var(--ds-fills-gray-80);
  --c-breadcrumbs-first: var(--ds-fills-gray-100);

  // search
  --search-suggestion-focused: rgba(0, 0, 0, 0.05);

  // custom-blocks
  --cb-tip-bg: var(--ds-fills-success-05);
  --cb-tip-title-color: var(--ds-fills-gray-100);
  --cb-tip-text-color: var(--ds-fills-gray-80);
  --cb-tip-icon-color: var(--ds-fills-success-50);
  --cb-tip-border: 1px solid var(--cb-tip-bg);

  --cb-warning-bg: var(--ds-fills-warning-05);
  --cb-warning-title-color: var(--ds-fills-gray-100);
  --cb-warning-text-color: var(--ds-fills-gray-80);
  --cb-warning-icon-color: var(--ds-fills-warning-50);
  --cb-warning-border: 1px solid var(--cb-warning-bg);

  --cb-danger-bg: var(--ds-fills-alert-05);
  --cb-danger-title-color: var(--ds-fills-gray-100);
  --cb-danger-text-color: var(--ds-fills-gray-80);
  --cb-danger-icon-color: var(--ds-fills-alert-50);
  --cb-danger-border: 1px solid var(--cb-danger-bg);

  --cb-details-bg: var(--ds-fills-primary-0);
  --cb-details-title-color: var(--ds-fills-gray-100);
  --cb-details-text-color: var(--ds-fills-gray-80);
  --cb-details-border: 1px solid var(--cb-details-bg);

  --border-radius: 6px;
  --border-radius-sm: 4px;
  --border-radius-none: 0;

  --gap-base: 1rem;

  --navlink-a-hover: var(--c-brand);

  --navlink-a-button-bg: var(--c-brand);
  --navlink-a-button-bg-hover: #171616;
  --navlink-a-button-color: var(--ds-fills-white);
  --navlink-a-button-color-hover: var(--ds-fills-white);
  --navlink-a-button-shadow: 6px 6px 0px 0px #f1dada;
}

@require './palette-dark'
