html.dark {
  // brand colors
  --c-heading: var(--ds-fills-gray-0);
  --c-brand: #6AB5DF;
  --c-brand-light: #349469;

  // background colors
  --c-bg: var(--ds-fills-gray-100);
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  --c-bg-sidebar: var(--ds-fills-gray-100);

  // text colors
  --c-text: var(--ds-fills-gray-40);
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;

  // border colors
  --c-border: var(--ds-fills-gray-80);
  --c-border-dark: transparent;

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-border: transparent;
  --code-ln-bg-color: #293140;

  --inline-code-bg: rgba($ds-fills-white, 0.1);

  --c-sidebar-header-0: var(--ds-fills-gray-0);

  // table
  --c-table-head-text: var(--ds-fills-gray-0);
  --c-table-head-bg: var(--ds-fills-gray-80);
  --c-table-odd-text: var(--ds-fills-gray-40);
  --c-table-odd-bg: var(--ds-fills-gray-100);
  --c-table-even-text: var(--ds-fills-gray-40);
  --c-table-even-bg: #0a101a;

  --c-table-2nd-row: rgba($ds-fills-gray-80, 0.5);
  --c-table-border: var(--c-table-head-bg);

    // endpoints-table
  --endpoints-header-bg: var(--ds-fills-gray-80);
  --endpoints-header-text-color: var(--ds-fills-white);
  --endpoints-cell-bg: var(--code-bg-color);
  --endpoints-cell-text-color: var(--ds-fills-gray-10);

  // logo
  --logo-text: var(--ds-fills-white);

  // breadcrumbs
  --c-breadcrumbs: var(--ds-fills-gray-40);
  --c-breadcrumbs-first: var(--ds-fills-gray-40);

  // search
  --search-suggestion-focused: rgba($ds-fills-white, 0.05);

  // custom-blocks
  --cb-tip-bg: transparent;
  --cb-tip-title-color: var(--c-text);
  --cb-tip-text-color: var(--c-text);
  --cb-tip-icon-color: var(--c-text);
  --cb-tip-border: 1px solid var(--c-brand);
  
  --cb-warning-bg: transparent;
  --cb-warning-title-color: var(--c-text);
  --cb-warning-text-color: var(--c-text);
  --cb-warning-icon-color: var(--c-text);
  --cb-warning-border: 1px solid var(--ds-fills-warning-50);

  --cb-danger-bg: transparent;
  --cb-danger-title-color: var(--c-text);
  --cb-danger-text-color: var(--c-text);
  --cb-danger-icon-color: var(--c-text);
  --cb-danger-border: 1px solid var(--ds-fills-alert-50);

  --cb-details-bg: transparent;
  --cb-details-title-color: var(--c-text);
  --cb-details-text-color: var(--c-text);
  --cb-details-icon-color: var(--c-text);
  --cb-details-border: 1px solid var(--ds-fills-primary-50);

  --navlink-a-button-bg-hover: var(--ds-fills-white);
  --navlink-a-button-color-hover: var(--ds-fills-gray-100)
  --navlink-a-button-shadow: 6px 6px 0px 0px rgba(106 181 223, .25);
}
