<template>
  <nav>
    <ul class="bread-crumbs">
      <li class="bread-crumbs-item" v-for="(crumb, index) in bread" :key="crumb.path">
        <router-link
          v-if="crumb.path.length > 0"
          class="bread-crumb"
          :to="crumb.redirect || crumb.path"
          :aria-label="`Go to the ${crumb.title}`"
          ><Icon :name="crumb.icon" :size="1.5" v-if="crumb.icon" /><span v-else>{{ crumb.title }}</span></router-link
        >
        <span
          v-else
          class="bread-crumb bread-crumb-nolink"
          >{{ crumb.title }}</span>
        <span v-if="index !== bread.length - 1" class="bread-crumb-separator">
          <Icon name="chevron-right"/>
        </span>
      </li>
    </ul>
  </nav>
</template>

<script>
/**
 * Generates simple breadcrumb list.
 */
export default {
    name: "Breadcrumbs",
    computed: {
        bread() {
            const parts = this.$page.path.split("/");
            if (!parts[parts.length - 1].length) {
                parts.pop();
            }
            let link = "";
            const crumbs = parts.map((slug) => {
                link = `${link}${slug}`;
                // const page = this.$site.pages.find((el) => el.path === link || el.path === link + "/");
                const page = this.$site.pages.find((el) => el.path === link || el.path === link + "/");
                link = `${link}/`;
                const hasPage = !!page;
                const { breadcrumb, redirect } = hasPage ? page.frontmatter : {};

                const path = hasPage ? page.path : '';
                const title = hasPage ? (breadcrumb?.title || breadcrumb || page.title) : this.titleCase(slug);
                const icon = hasPage ? breadcrumb?.icon : '';

                return {
                  icon,
                  path,
                  redirect,
                  title,
                };
            });

            return crumbs;
        },
    },
    methods: {
        titleCase: (str) => str.toLowerCase()
            .split(" ")
            .map((word) => `${word.charAt(0).toUpperCase()}${word.slice(1)}`)
            .join(" ")
    }
};
</script>

<style lang="stylus" scoped>
.bread-crumbs {
  padding: 5.6rem 1.5rem 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  &-item {
    display: flex;
    gap: 1rem;
  }

  .bread-crumb {
    color: var(--c-breadcrumbs);
    display: flex;

    &:not(.&-nolink):hover {
      color: var(--c-brand);
    }
  }
  .bread-crumb-separator {
    color: var(--c-breadcrumbs);
    display: flex;
  }
  svg {
    margin: auto;
  }
  :first-child {
    .bread-crumb{
      color: var(--c-breadcrumbs-first);
    }
  }
}
</style>