<template>
  <svg id="trusted-twin-logo" width="78" height="26" viewBox="0 0 78 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M42.459 2.71453H44.1694V19.9404H42.459V18.4387C41.4557 19.5457 40.0415 20.2099 38.4792 20.2099C35.2782 20.2099 32.6648 17.7986 32.6648 14.4246C32.6648 11.0507 35.2782 8.59124 38.4792 8.59124C40.0415 8.59124 41.4605 9.25544 42.459 10.3865V2.70972V2.71453ZM42.459 14.4343C42.459 12.047 40.7008 10.3239 38.4792 10.3239C36.2576 10.3239 34.4994 12.047 34.4994 14.4343C34.4994 16.8215 36.2337 18.4965 38.4792 18.4965C40.7247 18.4965 42.459 16.7975 42.459 14.4343ZM45.7269 14.4343C45.7269 11.0363 48.3403 8.60087 51.5413 8.60087C54.7424 8.60087 57.3558 11.0363 57.3558 14.4343C57.3558 17.8323 54.7663 20.2195 51.5413 20.2195C48.3164 20.2195 45.7269 17.8082 45.7269 14.4343V14.4343ZM55.5211 14.4343C55.5211 12.047 53.763 10.3239 51.5413 10.3239C49.3197 10.3239 47.5616 12.047 47.5616 14.4343C47.5616 16.8215 49.2958 18.4965 51.5413 18.4965C53.7868 18.4965 55.5211 16.7975 55.5211 14.4343ZM58.3973 14.4102C58.3973 11.0411 61.0107 8.60087 64.2117 8.60087C66.3616 8.60087 68.244 9.6838 69.2426 11.4309L67.7519 12.3887C67.0687 11.1325 65.7262 10.3239 64.2117 10.3239C61.9662 10.3239 60.2319 12.047 60.2319 14.4102C60.2319 16.7734 61.9662 18.4965 64.2117 18.4965C65.7262 18.4965 67.0687 17.6831 67.7519 16.4269L69.2426 17.3847C68.2393 19.1318 66.3616 20.2147 64.2117 20.2147C61.0107 20.2147 58.3973 17.7793 58.3973 14.4054V14.4102ZM69.8828 17.7889L71.3734 16.9033C71.8607 17.9141 72.8879 18.5542 73.9151 18.5542C75.3819 18.5542 76.2132 17.9382 76.2132 16.9322C76.2132 15.8734 75.2863 15.3824 73.7718 15.06C72.2334 14.7423 70.3032 13.953 70.3032 11.7149C70.3032 10.0929 71.6457 8.61531 74.0154 8.61531C75.7258 8.61531 77.0684 9.47684 77.6321 10.9063L76.2418 11.7919C75.9217 10.709 74.9471 10.194 74.0202 10.194C72.7971 10.194 72.09 10.8582 72.09 11.6956C72.09 12.8026 73.0408 13.2214 74.4598 13.4909C77.2451 14.03 78 15.4835 78 16.937C78 18.636 76.6814 20.234 73.9199 20.234C71.9181 20.234 70.6233 19.151 69.8875 17.7986V17.7889H69.8828Z" class="name"/>
    <path d="M28.6659 11.97V14.0396C28.6659 14.2273 28.5656 14.3958 28.4175 14.5065C27.677 15.0648 27.2326 15.9504 27.2326 16.9034V24.5561C27.2326 25.3551 26.5924 26 25.7993 26H18.8479C18.7284 26 18.6329 25.9037 18.6329 25.7834V23.324C18.6329 23.2036 18.7284 23.1074 18.8479 23.1074H23.8071C24.1176 23.1074 24.366 22.8571 24.366 22.5442V16.8986C24.366 15.4643 24.882 14.1118 25.7755 13.0578C25.8041 13.0241 25.8041 12.9711 25.7755 12.9374C24.882 11.8882 24.366 10.5309 24.366 9.09663V3.45094C24.366 3.1381 24.1176 2.88782 23.8071 2.88782H17.1996C16.9272 2.88782 16.6931 3.08515 16.6454 3.3595L13.1386 24.5513C13 25.3791 12.2881 25.9904 11.452 25.9904H2.86659C2.0735 25.9904 1.4333 25.3454 1.4333 24.5465V16.8937C1.4333 15.9456 0.984197 15.06 0.24366 14.5017C0.0955531 14.391 0 14.2225 0 14.0348V11.9556C0 11.7679 0.0955531 11.6042 0.24366 11.4887C0.984197 10.9256 1.4333 10.0448 1.4333 9.09663V1.44391C1.4333 0.644946 2.0735 0 2.86659 0H9.81808C9.93752 0 10.0331 0.0962606 10.0331 0.216586V2.67605C10.0331 2.79637 9.93752 2.89263 9.81808 2.89263H4.85888C4.54833 2.89263 4.29989 3.14291 4.29989 3.45576V9.10144C4.29989 10.5309 3.77913 11.8882 2.8857 12.9422C2.85704 12.9759 2.85704 13.0289 2.8857 13.0626C3.77913 14.1118 4.29989 15.4643 4.29989 16.9034V22.5491C4.29989 22.8619 4.54833 23.1122 4.85888 23.1122H10.0331C10.3054 23.1122 10.5395 22.9148 10.5873 22.6405L14.0941 1.44872C14.2326 0.620881 14.9445 0.00962606 15.7806 0.00962606H25.7993C26.5924 0.00962606 27.2326 0.654572 27.2326 1.45354V9.10626C27.2326 10.0592 27.677 10.94 28.4175 11.4983C28.5656 11.609 28.6659 11.7775 28.6659 11.9652V11.97ZM20.0662 5.55424C19.1441 5.55424 18.394 6.30989 18.394 7.2388C18.394 8.16772 19.1441 8.92336 20.0662 8.92336C20.9882 8.92336 21.7383 8.16772 21.7383 7.2388C21.7383 6.30989 20.9882 5.55424 20.0662 5.55424V5.55424ZM8.59978 5.55424C7.67769 5.55424 6.9276 6.30989 6.9276 7.2388C6.9276 8.16772 7.67769 8.92336 8.59978 8.92336C9.52187 8.92336 10.272 8.16772 10.272 7.2388C10.272 6.30989 9.52187 5.55424 8.59978 5.55424V5.55424Z" class="twins"/>
  </svg>
</template>

<script>
export default {
  name: 'Logo',
};
</script>

<style lang="stylus" scoped>
  #trusted-twin-logo {
    .name {
      fill: var(--logo-text);
    }
    .twins {
      fill: var(--logo-sign);
    }
  }
</style>