<template>
  <header class="navbar">
    <div class="aside">
      <SidebarButton @toggle-sidebar="$emit('toggle-sidebar')" />
      <RouterLink
          to="/"
          aria-label="Back to the start page"
      >
        <Logo />
      </RouterLink>
    </div>
    <div class="search">
      <SearchBox />
    </div>
    <NavLinks class="can-hide" />
    <SwitchTheme />
  </header>
</template>

<script>
import SearchBox from '@theme/components/SearchBox.vue';
import NavLinks from '@theme/components/NavLinks.vue';
import SidebarButton from '@parent-theme/components/SidebarButton.vue';
import Logo from '@theme/components/Logo.vue';
import SwitchTheme from '@theme/components/SwitchTheme.vue';

export default {
  name: 'Navbar',
  components: {
    SwitchTheme,
    Logo,
    NavLinks,
    SidebarButton,
    SearchBox,
  },
};
</script>

<style lang="stylus" scoped>
  .navbar {
    display: flex;
    align-items: center;
    gap: var(--gap-base);
    background-color: var(--c-bg-navbar);
    border-bottom-color: var(--c-border);

    .aside {
      width: $sidebarWidth;
      padding: 0 1.5rem;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      gap: 0.5rem;
      position: relative;
      overflow: hidden;
      height: 100%;

      @media (min-width: ($MQNarrow + 1px)) {
        &::after {
          content: ' ';
          position: absolute;
          top: -100%;
          bottom: -100%;
          left: -100%;
          right: -100%;
          background: var(--c-bg-sidebar);
          z-index: -1;
        }
      }

      @media (max-width: $MQNarrow) {
        & {
          width: $mobileSidebarWidth
        }
      }

      .sidebar-button {
        position: relative;
        width: auto;
        height: auto;
        top: auto;
        left: -0.6rem;
      }
    }

    .search {
      align-items: center;
      display: flex;
      flex: 1;
    }

    .switch {
      padding: 0 1.5rem;
      align-items: center;
      display: flex;
    }

    @media (max-width: $MQMobile) {
      &{
        .can-hide {
          display: none;
        }
      }
    }
  }
</style>
