<template>
  <span>
    <Icon class="icon outbound" name="link-external-01"/><span class="sr-only">{{ openInNewWindowTitle }}</span>
  </span>
</template>

<script>
export default {
  computed: {
    openInNewWindowTitle () {
      return this.$themeLocaleConfig.openNewWindowText || '(opens new window)'
    }
  }
}
</script>

<style>
.icon.outbound {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-left: 2px;
}
</style>

<style lang="stylus">
.sr-only
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  overflow hidden
  clip rect(0, 0, 0, 0)
  white-space nowrap
  border-width 0
</style>
