<template>
  <main class="page">
    <slot name="top" />

    <Content class="theme-default-content"/>

    <div class="theme-default-below-content">
      <PageEdit />
      <PageNav v-bind="{ sidebarItems }" />
      <PageFeedback />
    </div>

    <slot name="bottom" />
  </main>
</template>

<script>
import PageEdit from '@parent-theme/components/PageEdit.vue'
import PageFeedback from '@theme/components/PageFeedback.vue'
import PageNav from '@parent-theme/components/PageNav.vue'

export default {
  components: { PageEdit, PageFeedback, PageNav },
  props: ['sidebarItems'],
  beforeMount() {
    this.checkRedirect();
  },
  beforeUpdate() {
    this.checkRedirect();
  },
  methods: {
    checkRedirect() {
      if (!this.$page.frontmatter.redirect) {
        return;
      }

      this.$router.push(this.$page.frontmatter.redirect)
    }
  }
}
</script>

<style lang="stylus">
@require '~@parent-theme/styles/wrapper.styl'

.page
  padding-bottom 2rem
  display block

.theme-default-below-content
    padding: 0 1.5rem 2rem;
    margin: 0 auto;

.page-nav
  padding: 0;
  margin: 0 auto;
  position relative
  border-top: 0;

  .inner
    border-top: 0 none

  // &:after
  //   content: ' ';
  //   position: absolute;
  //   top: 0;
  //   left: -1.5rem;
  //   right: -1.5rem;
  //   height: 1px;
  //   background: var(--c-border);
</style>
