<template>
  <div class="container" v-if="!sent">
    <h2>Was this article helpful?</h2>
    <p>
      <Button hierarchy="secondary" size="lg" @click.native="() => sendFeedback('+1')">Yes</Button>
      <Button hierarchy="secondary" size="lg" @click.native="() => sendFeedback('-1')">No</Button>
    </p>
  </div>
  <div class="container" v-else>
    <h2>Thank you for your feedback!</h2>
    <p>
      If you have any questions, please email <a href="mailto:hello@trustedtwin.com">hello@trustedtwin.com</a>.
    </p>
  </div>
</template>

<script>
  export default {
    name: "PageFeedback",
    data() {
      return {
        sent: false,
      }
    },
    methods: {
      sendFeedback(feedback) {
        this.sent = true;

        console.info({feedback, title: this.$page.title, path: this.$page.path})
      }
    },
    mounted() {
      this.$router.afterEach(() => {
        this.sent = false;
      })
    }
  }
</script>

<style lang="stylus">
  .container {
    padding-top: 1rem;
    position: relative;
    margin-top: 2.5rem;
    
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: -1.5rem;
      right: -1.5rem;
      height: 1px;
      background: var(--c-border);
    }
  }
</style>
