<template>
  <section
    v-if="!item.hidden"
    class="sidebar-group"
    :class="[
      {
        collapsable,
        'is-sub-group': depth !== 0
      },
      `depth-${depth}`
    ]"
  >
    <RouterLink
      v-if="item.path"
      class="sidebar-heading clickable"
      :class="{
        'open': isOpen($route, item.path),
        'active': isActive($route, item.path)
      }"
      :to="item.path"
    >
      <ClientOnly v-if="item.icon">
        <Icon :name="item.icon" />
      </ClientOnly>

      <span class="stretch">{{ item.title }}</span>
    </RouterLink>

    <p
      v-else
      class="sidebar-heading"
      :class="{ open }"
      @click="$emit('toggle')"
    >
      <ClientOnly v-if="item.icon">
        <Icon :name="item.icon" />
      </ClientOnly>
      
      <span class="stretch">{{ item.title }}</span>
      <span class="toggle" v-if="collapsable">
        <Icon :name="chevron"/>
      </span>
    </p>

    <DropdownTransition>
      <SidebarLinks
        v-if="(open && expanded) || !collapsable"
        class="sidebar-group-items"
        :items="item.children"
        :sidebar-depth="item.sidebarDepth"
        :initial-open-group-index="item.initialOpenGroupIndex"
        :depth="depth + 1"
      />
    </DropdownTransition>
  </section>
</template>

<script>
import { isActive } from '@theme/utils'
import DropdownTransition from '@parent-theme/components/DropdownTransition.vue'

export default {
  name: 'SidebarGroup',

  components: {
    DropdownTransition
  },

  data() {
    return {
      expanded: true
    }
  },

  props: [
    'item',
    'open',
    'collapsable',
    'depth'
  ],

  // ref: https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
  beforeCreate () {
    this.$options.components.SidebarLinks = require('@theme/components/SidebarLinks.vue').default
  },

  methods: {
    isActive,
    isOpen(route, path) {
      return route.path.startsWith(path);
    },
    setExpanded() {
      if (this.item.path && this.item.children) {
        this.expanded = this.isOpen(this.$route, this.item.path);
      }
    }
  },
  computed: {
    chevron() {
      return `chevron-${this.open ? 'down' : 'right'}`;
    }
  },
  beforeMount() {
    this.setExpanded();
  },
  beforeUpdate() {
    this.setExpanded();
  }
}
</script>

<style lang="stylus">
.sidebar-group
  .sidebar-group
    padding-left 0.5em
  &:not(.collapsable)
    .sidebar-heading:not(.clickable)
      cursor auto
      color inherit
  // refine styles of nested sidebar groups
  &.is-sub-group
    padding-left 0
    & > .sidebar-heading
      font-size 0.95em
      line-height 1.4
      font-weight normal
      padding-left 2rem
      &:not(.clickable)
        opacity 0.5
    & > .sidebar-group-items
      padding-left 1rem
      & > li > .sidebar-link
        font-size: 0.95em;
        border-left none
  &.depth-2
    & > .sidebar-heading
      border-left none

.sidebar-heading
  color var(--c-sidebar-header-0)
  transition color .15s ease
  cursor pointer
  font-size 1em
  font-weight 600
  padding 0.35rem 1.5rem 0.35rem 1.25rem
  width 100%
  box-sizing border-box
  margin 0
  display: flex;
  gap: 1rem;
  align-items: center;

  &.open, &:hover
    color inherit
  .stretch {
    flex: 1;
  }
  .arrow
    position relative
    top -0.12em
    left 0.5em
  &.clickable
    &.active,
    &.open
      font-weight 600
      color var(--c-brand)
      border-left-color var(--c-brand)
    &:hover
      color var(--c-brand)

.sidebar-group-items
  transition height .1s ease-out
  font-size 0.95em
  overflow hidden
</style>
