<template>
  <label class="switch" :aria-label="`Toggle to ${isDarkMode ? 'light': 'dark'} mode`">
    <input type="checkbox" v-on:change="toggleTheme" :checked="isDarkMode">
    <Icon name="lightbulb-02" :size="2.5" :strokeWidth="1"/>
  </label>
</template>

<script>
import { DARKMODE_STORAGE_KEY } from '../helpers';

const CLASSNAME_DARK = 'dark';

const toggleClassNameOnElement = (element, whenAdd, className) => {
  if (whenAdd) {
    element.classList.add(className);

    return;
  }

  element.classList.remove(className);
};

export default {
  name: 'SwitchTheme',
  methods: {
    toggleTheme() {
      this.isDarkMode = !this.isDarkMode;

      if (localStorage) {
        localStorage.setItem(DARKMODE_STORAGE_KEY, this.isDarkMode);
      }

      toggleClassNameOnElement(this.rootHTML, this.isDarkMode, CLASSNAME_DARK);
    }
  },
  data() {
    return {
      isDarkMode: null,
      rootHTML: null,
    };
  },
  beforeMount() {
    const storedDarkMode = window.localStorage && window.localStorage.getItem(DARKMODE_STORAGE_KEY);

    if (storedDarkMode !== void 0) {
      this.isDarkMode = storedDarkMode === 'true';

      return;
    }

    const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');

    this.isDarkMode = prefersDarkScheme.matches;
  },
  mounted() {
    this.rootHTML = document.querySelector('html');

    toggleClassNameOnElement(this.rootHTML, this.isDarkMode, CLASSNAME_DARK);
  }
};
</script>

<style lang="stylus" scoped>
  .switch {
    position: relative
  }

  .switch:focus-within {
    outline: -webkit-focus-ring-color auto 1px;
  }

  input {
    opacity: 0;
    position: absolute
    top: 0;
    width: calc(100% - 3rem);
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
  }
</style>
