
div[class*=language-] {
  border: 0 none;
  margin: 0;
  background: var(--code-bg-color);
  border-radius: var(--border-radius-none);

  &::before {
    display: none;
  }

  &.line-numbers-mode {
    pre {
      margin: 0;
    }

    .line-numbers-wrapper {
      color: var(--code-ln-color);
      font-size: 1.1em;
      font-weight: 600;
      line-height: 1.4;
    }

    &::after {
      border-right: 0 none;
      background: var(--code-ln-bg-color);
    }
  }
}

.theme-default-content {
  pre, pre[class*=language-] {
    border-radius: var(--border-radius-none);
    margin: 0;

    code {
      color: var(--code-color);
    }
  }

  code {
    font-family: var(--font-family-code), monospace;
    font-size: 0.85em;
    background-color: var(--inline-code-bg);
    color: var(--inline-code-color);
    padding: 0.1rem 0.15rem;
  }
}