.custom-block {
  border-radius: var(--border-radius);
  position: relative;

  &.tip,
  &.warning,
  &.danger {
    border: 0 none;
    padding: 1rem 1rem 1rem 4rem

    > svg {
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 1;
      width: 2rem;
    }
  }

  .custom-block-title {
    margin-top: 0;
  }

  &.tip {
    background: var(--cb-tip-bg);
    border: var(--cb-tip-border);
    color: var(--cb-tip-text-color);

    > svg {
      color: var(--cb-tip-icon-color);
    }

    .custom-block-title {
      color: var(--cb-tip-title-color);
    }
  }

  &.warning {
    background: var(--cb-warning-bg);
    border: var(--cb-warning-border);
    color: var(--cb-warning-text-color);

    > svg {
      color: var(--cb-warning-icon-color);
    }

    .custom-block-title {
      color: var(--cb-warning-title-color);
    }

    a {
      color: var(--c-brand);
    }
  }

  &.danger {
    background: var(--cb-danger-bg);
    border: var(--cb-danger-border);
    color: var(--cb-danger-text-color);

    > svg {
      color: var(--cb-danger-icon-color);
    }

    .custom-block-title {
      color: var(--cb-danger-title-color);
    }

    a {
      color: var(--c-brand);
    }
  }

  &.details {
    background: var(--cb-details-bg);
    border: var(--cb-details-border);
    color: var(--cb-details-text-color);

    .custom-block-title {
      color: var(--cb-details-title-color);
    }
  }

  &.footnote {
    font-size: 12px;
    display: grid;
    grid-template: 'a b' 1fr / auto 1fr;
    gap: .5rem;

    > * {
      grid-column-start: 2;
    }

    > p {
      margin-block-start: .5em;
      margin-block-end: .5em;
    }

    > .custom-block-title {
      grid-column-start: 1;
      margin-top: .5em;
      grid-area: a;
    }
  }
}
