// :root {
//   --component-details-border: var(--ds-fills-primary-05);
//   --component-details-summary-bg: var(--ds-fills-primary-05);
//   --component-details-summary-bg-hover: var(--ds-fills-primary-10);
// }

// html.dark {
//   --component-details-border: var(--ds-fills-gray-80)
//   --component-details-summary-bg: var(--ds-fills-gray-80);
//   --component-details-summary-bg-hover: var(--ds-fills-gray-60);
// }

// details {
//   border: 1px solid var(--component-details-border);
//   padding: 0.5rem 1rem;
//   border-radius: var(--border-radius);
//   overflow: hidden;

//   summary {
//     background: var(--component-details-summary-bg);
//     padding: 0.5rem 1rem;
//     margin: -0.5rem -1rem -0.5rem -1rem;
//     cursor: pointer;
//     transition: background var(--t-color);

//     &:hover {
//       background: var(--component-details-summary-bg-hover);
//     }
//   }

//   &[open] {
//     padding-bottom: 0;

//     > summary {
//       margin-bottom: 0;
//     }
//   }
// }
