table {
  margin: 0;

  @media (max-width: $MQMobile) {
    overflow: auto;
  }

  tr {
    border: 0 none;
  }
  th, td {
    border: 0 none;
    width: auto;
    padding: 1rem;
  }
  th {
    color: var(--c-table-head-text) !important;
    background: var(--c-table-head-bg) !important;
    font-weight: 400;
  }
  tbody {
    tr {
      background: transparent;
      border-top: 1px solid var(--c-table-border);

      &:nth-child(2n) {
        background: var(--c-table-2nd-row);
      }
    }
  }
}
