<template>
  <button :class="className" :disabled="disabled">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    hierarchy: {
      type: String,
      default: 'primary',
      validator: (value) => [
        'primary',
        'secondary',
        'tertiary',
      ].includes(value),
    },
    size: {
      type: String,
      default: 'md',
      validator: (value) => [
        'sm',
        'md',
        'lg',
        'xl',
        '2xl',
      ].includes(value),
    },
    disabled: Boolean,
  },
  computed: {
    className() {
      return `button ${this.size} ${this.hierarchy}`;
    }
  }
}
</script>

<style lang="stylus">
  .button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    transition: 

    &.sm {
      padding: 8px 14px;
    }
    &.md {
      padding: 10px 16px;
    }
    &.lg {
      padding: 10px 18px;
    }
    &.xl {
      padding: 12px 20px;
    }
    &.2xl {
      padding: 16px 28px;
    }

    &.secondary {
      --color: var(--c-brand);
      --color-hover: var(--ds-fills-gray-100);
      --shadow-color: #f1dada;

      html.dark & {
        --color-hover: var(--ds-fills-white);
        --shadow-color: rgba(106 181 223, .25);
      }

      background: none;
      border: 1px solid var(--color);
      color: var(--color);

      &:hover {
        color: var(--color-hover)
        border-color: var(--color-hover)
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 4px var(--shadow-color);
      }
    }
  }
</style>