<template>
  <div class="endpoints">
    <slot></slot>
  </div>
</template>

<script>
/**
 * Provides endpoints table styling.
 */
export default {
  name: 'EndpointsTable',
}
</script>

<style lang="stylus">
  .endpoints {
    border-radius: var(--border-radius);
    border: 1px solid var(--c-table-border);
    overflow: auto;
    margin: 1rem 0;

    table {
      width: 100%;
      display: table;
      margin: 0;
      font-size: 13px;

      thead {
        th {
          background: var(--endpoints-header-bg) !important;
          color: var(--endpoints-header-text-color) !important;
          font-weight: 600;
          font-size: 12px;
        }
      }
      tbody {
        font-family: var(--font-family-code);

        tr {
          border-top: 0 none;
          background: var(--endpoints-cell-bg) !important;

          td {
            color: var(--endpoints-cell-text-color) !important
            padding: 0.25rem 1.5rem;
          }

          &:first-child td {
            padding-top: 1.5rem;
          }

          &:last-child td {
            padding-bottom: 1.5rem;
          }
        }
      }
    }
  }
</style>
