<template>
  <span v-if="active">
    <slot></slot>
  </span>
</template>

<script>
import {
  ENV_SWITCHED_EVENT,
  ENV_SWITCHED_STORAGE_KEY,
} from '../helpers';

/**
 * Switches env-related content. Reacts on environment switching event.
 *
 * @param {string} type - The env name that should unhide element in the runtime.
 */
export default {
  name: 'Env',
  props: {
    type: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      active: false
    }
  },
  mounted() {
    document.addEventListener(ENV_SWITCHED_EVENT, this.toggle);

    if (localStorage.getItem(ENV_SWITCHED_STORAGE_KEY) === this.type) {
      this.active = true;
    }
  },
  destroyed() {
    document.removeEventListener(ENV_SWITCHED_EVENT, this.toggle);
  },
  methods: {
    toggle(event) {
      const { detail } = event;

      this.active = this.type === detail;
    }
  }
}
</script>

<style lang="stylus">
</style>
