<template>
  <ClientOnly>
    <div class="theme-code-group">
      <div class="theme-code-group__nav" v-if="title || copyable">
        <span v-if="title" class="title">
          {{ title }}
        </span>
        <div class="dropdown-select" v-if="codeTabs.length > 1 && switchable">
          <select
            @change="changeCodeTab($event)">
            <option
              v-for="(tab) in codeTabs"
              :key="tab.title"
              :value="tab.title"
              :selected="tab.title === activeCodeTab">
              {{ tab.title }}
            </option>
          </select>
          <Icon name="chevron-selector-vertical"/>
        </div>
        <button
          class="btn-copy"
          v-if="copyable"
          aria-label="Copy code snippet"
          @click="copyToClipboard()"><Icon :name="copyIcon" :size="1.25"/></button>
      </div>
      <slot />
      <pre
        v-if="codeTabs.length < 1"
        class="pre-blank"
      >// Make sure to add code blocks to your code group</pre>
    </div>
  </ClientOnly>
</template>

<script>
import {
  ENV_SWITCHED_EVENT,
  ENV_SWITCHED_STORAGE_KEY,
} from '../helpers';

const CLASSNAME_ACTIVE_BLOCK = 'theme-code-block__active';
/**
 * Extends the default CodeGroup by changing the site's environment by an event-based trigger.
 *
 * @param {string} [title] - The code group title.
 * @param {boolean} [copyable=false] - If enabled the copying-by-click button is visible.
 * @param {boolean} [switchable=false] - If enabled allows switching the environment.
 */
export default {
  name: 'ExtendedCodeGroup',
  data () {
    return {
      codeTabs: [],
      activeCodeTab: '',
      copyIcon: 'copy-02',
      timeoutID: undefined,
    }
  },
  watch: {
    activeCodeTab (env) {
      this.activateCodeTab(env)
    }
  },
  props: {
    title: {
      type: String
    },
    copyable: {
      type: Boolean,
      default: false
    },
    switchable: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    this.loadTabs();

    document.addEventListener(ENV_SWITCHED_EVENT, this.toggleEnv)
  },
  destroyed() {
    document.removeEventListener(ENV_SWITCHED_EVENT, this.toggleEnv);
    clearTimeout(this.timeoutID);
  },
  methods: {
    toggleEnv(event) {
      if (!this.switchable) {
        return;
      }

      const { detail: env } = event;

      if (this.activeCodeTab !== env) {
        this.activeCodeTab = env
      }
    },
    changeCodeTab(event) {
      const env = event.target.value
      this.activeCodeTab = env;

      localStorage.setItem(ENV_SWITCHED_STORAGE_KEY, env);

      if (this.switchable) {
        const customEvent = new CustomEvent(ENV_SWITCHED_EVENT, {
          detail: env,
        });

        document.dispatchEvent(customEvent);
      }
    },
    loadTabs() {
      this.codeTabs = (this.$slots.default || []).filter(slot => Boolean(slot.componentOptions)).map((slot) => {
        const { active, title, type } = slot.componentOptions.propsData;

        if (active === '') {
          this.activeCodeTab = type || title;
        }

        return {
          title,
          elm: slot.elm
        }
      })

      if (this.activeCodeTab === '' && this.codeTabs.length > 0) {
        const { type, title } = this.codeTabs[0];

        this.activeCodeTab = type || title;
      }

      const savedEnv = localStorage.getItem(ENV_SWITCHED_STORAGE_KEY);

      if (savedEnv && this.switchable) {
        this.activeCodeTab = savedEnv;
      }

      this.activateCodeTab(this.activeCodeTab)
    },
    activateCodeTab(env) {
      this.codeTabs.forEach(tab => {
        if (tab.elm) {
          tab.elm?.classList.remove(CLASSNAME_ACTIVE_BLOCK)
        }
      })

      let index = this.codeTabs.findIndex(({ title }) => title === env);

      if (index < 0) {
        index = 0;
      }

      if (this.codeTabs[index]?.elm) {
        const { title, elm } = this.codeTabs[index];

        if (this.switchable) {
          const customEvent = new CustomEvent(ENV_SWITCHED_EVENT, {
            detail: title,
          });
  
          document.dispatchEvent(customEvent);
        }

        elm.classList.add(CLASSNAME_ACTIVE_BLOCK);
      }
    },
    copyToClipboard() {
      let index = this.codeTabs.findIndex(({ title }) => title === this.activeCodeTab);

      if (index < 0) {
        index = 0;
      }

      const clipboardItem = this.codeTabs[index].elm.textContent;

      navigator.clipboard.writeText(clipboardItem)
        .then(
          () => {
            console.log('copied successfully')
            this.copyIcon = 'check-done-02';

            this.timeoutID = setTimeout(() => {
              this.copyIcon = 'copy-02';
            }, 1000);
          },
          () => {
            console.log('copied failed')
          });
    }
  }
}
</script>

<style lang="stylus" scoped>
  .theme-code-group {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    margin: var(--gap-base) 0;

    &__nav {
      background-color: var(--code-nav-bg);
      color: var(--code-title-color);
      font-size: 12px;
      font-weight: 600;
      padding: 0.85714rem var(--gap-base);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .title {
        flex: 1;
      }
    }
  }

  .pre-blank {
    color: var(--c-tip);
  }

  .btn-copy {
    display: flex;
    background: transparent;
    border: 0 none;
    color: var(--code-color);
    cursor: pointer;

    &:hover {
      color: var(--code-title-color);
    }
  }

  .dropdown-select {
    color: var(--code-ln-color);
    display: flex;3

    &:hover {
      color: var(--code-title-color)
    }

    select {
      background: transparent;
      border: 0 none;
      color: inherit;
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      padding-right: 1.5rem;
      cursor: pointer;
      text-align: right;

      &:active,
      &:focus {
        outline: 0 none;
      }

      option {
        color: initial;
      }
    }

    svg {
      pointer-events: none;
      margin: auto auto auto -1rem;
    }
  }
</style>
