<template>
  <summary>
    <Icon class="when-close" name="chevron-right"/>
    <Icon class="when-open" name="chevron-down"/>
    <slot></slot>
  </summary>
</template>

<script>
/**
 * Extends the native `<summary>` element. Replaces the default `::marker` with the `<Icon/>`.
 *
 * @example
 * <details>
 *   <ExtendedSummary>...</ExtendedSummary>
 *
 *   ...
 * </details>
 */
export default {
  name: 'ExtendedSummary',
}
</script>

<style lang="stylus">
  summary {
    cursor: pointer;

    &::marker {
      content: '';
    }
    .when-open {
      display: none;
    }
    .when-close {
      display: inline-block;
    }

    [open] & {
      .when-open {
        display: inline-block;
      }
      .when-close {
        display: none;
      }
    }
  }
</style>
