<template>
  <div class="rounded-corner"><slot></slot></div>
</template>

<script>
/**
 * Provides table styling with rounded corners.
 */
export default {
  name: 'TableWrapper',
}
</script>

<style lang="stylus">
.rounded-corner {
  border-radius: var(--border-radius);
  overflow: auto;
  display: inline-block;
  border: 1px solid var(--c-border);
  margin: var(--gap-base) 0;
  max-width: 100%;
}
</style>
